In [1]:
import os
mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-6.3.0-posix-seh-rt_v5-rev1\\mingw64\\bin'
os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']

In [2]:
from sklearn.neighbors import KNeighborsRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [3]:
% pylab inline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.grid_search import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

C:\Users\Ambar Gupta\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Ambar Gupta\Anaconda3\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [4]:
train = pd.read_csv('Train_vzbNH27.csv')
test = pd.read_csv('Test_MbjGElR.csv')

In [5]:
train.head()

,ID,Age,Job,Marital,Education,Default,Housing,Loan,Contact,Month,Day_Of_Week,Campaign,Pdays,Previous,Poutcome,Emp.Var.Rate,Cons.Price.Idx,Cons.Conf.Idx,Outcome
0,1,56,housemaid,married,Other,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
1,3,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
2,5,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
3,6,45,services,married,Other,NaN,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
4,7,59,admin.,married,professional.course,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no

In [6]:
train.describe()

,ID,Age,Campaign,Pdays,Previous,Emp.Var.Rate,Cons.Price.Idx,Cons.Conf.Idx
count,28937.000000,28937.000000,28937.000000,28937.000000,28937.000000,28937.000000,28937.000000,28937.000000
mean,20629.632339,39.987456,2.563016,962.387981,0.173308,0.072157,93.573510,-40.519695
std,11908.678249,10.404227,2.746962,187.120310,0.493455,1.572770,0.579592,4.637302
min,1.000000,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000
25%,10238.000000,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000
50%,20725.000000,38.000000,2.000000,999.000000,0.000000,1.100000,93.444000,-41.800000
75%,30951.000000,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000
max,41188.000000,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000

In [15]:
train['Default'] = train['Default'].fillna('no')

In [17]:
train['Default'].value_counts()

no     28936
yes        1
Name: Default, dtype: int64

In [20]:
train['Housing'].value_counts()

yes        15226
no         13024
unknown      687
Name: Housing, dtype: int64

In [21]:
train['Job'].value_counts()

admin.           7327
blue-collar      6475
technician       4773
services         2792
management       2065
retired          1184
entrepreneur     1016
self-employed     999
housemaid         750
unemployed        701
student           617
Name: Job, dtype: int64