In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('updated_train.csv')
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test = pd.read_csv('updated_test.csv')
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
features = list(train.columns)

In [5]:
features.remove('ID')

In [6]:
features.remove('y')

In [10]:
X = train[features]
y = train['y']

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import cross_validation,metrics
from sklearn.grid_search import GridSearchCV

In [13]:
param_test = {
    'max_depth':[5,10,15,20,25],
    'min_samples_split':[2,10,20,50,100]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=2,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'max_depth': 5, 'min_samples_split': 100}, 0.57759283513966142)

In [14]:
param_test = {
    'max_depth':[1,2,3,4,5,6,7,8,9,10],
    'min_samples_split':[80,100,120,150,200]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=2,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'max_depth': 6, 'min_samples_split': 200}, 0.57830543303909421)

In [15]:
param_test = {
    'min_samples_split':[180,200,250,300]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_split': 300}, 0.57863065350649534)

In [17]:
param_test = {
    'min_samples_split':[300,400,500]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_split': 500}, 0.57969275538225706)

In [18]:
param_test = {
    'min_samples_split':[450,500,600,700,800,900,1000]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_split': 450}, 0.57971084418509267)

In [19]:
param_test = {
    'min_samples_split':list(range(450,510,10))
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=2,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_split': 450}, 0.57971084418509267)

In [20]:
param_test = {
    'min_samples_leaf':[1,2,5,10,15]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=450,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_leaf': 5}, 0.5814852454175774)

In [21]:
param_test = {
    'min_samples_leaf':[3,4,5,6,7]
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=450,
                                                          min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_samples_leaf': 5}, 0.5814852454175774)

In [23]:
param_test = {
    'max_features':['auto','sqrt','log2']
}
gsearch = GridSearchCV(estimator = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=450,
                                                          min_samples_leaf=5,n_jobs=-1,random_state=2017,oob_score = True),
                        param_grid = param_test,scoring='r2',n_jobs=4,iid=False, cv=10)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'max_features': 'auto'}, 0.5814852454175774)

In [29]:
rfr = RandomForestRegressor(n_estimators=100, max_depth=6,min_samples_split=450,
                            min_samples_leaf=5,n_jobs=-1,random_state=2017,oob_score = True)

In [30]:
rfr.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=6,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=5,
           min_samples_split=450, min_weight_fraction_leaf=0.0,
           n_estimators=1000, n_jobs=-1, oob_score=True, random_state=2017,
           verbose=0, warm_start=False)

In [31]:
pred = rfr.predict(test[features])

In [32]:
submission = pd.DataFrame(data=pred,index=test.ID,columns=['y'])
submission.head()

             y
ID
1    77.953047
2    94.216133
3    77.953047
4    77.953047
5   111.417512

In [33]:
submission.to_csv('rfr.csv')