In [1]:
% pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

Populating the interactive namespace from numpy and matplotlib

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge,fare_amount
0,AIX000345001,DST000401,NO,0.0,1.4,0.5,2015-04-20 04:18:25,2015-04-20 04:24:20,1,-74.003939,40.742894,1,N,-73.993369,40.734247,CRD,0.5,8.4
1,AIX000345002,DST000401,NO,0.0,1.0,0.5,2015-04-19 18:16:07,2015-04-19 18:22:06,3,-73.973864,40.752194,1,N,-73.958701,40.772533,CRD,0.0,8.5
2,AIX000345003,DST000401,NO,0.0,0.0,0.5,2015-04-06 08:04:32,2015-04-06 08:10:05,2,-73.954406,40.764420,1,N,-73.970780,40.758350,CSH,0.0,7.0
3,AIX000345004,DST000532,NO,0.0,1.8,0.5,2015-04-10 09:48:00,2015-04-10 10:00:00,2,-73.962345,40.767215,1,NaN,-73.975512,40.756867,CRD,0.0,11.3
4,AIX000345005,DST000401,NO,0.0,0.0,0.5,2015-04-15 13:12:48,2015-04-15 13:26:30,1,-74.004657,40.707434,1,N,-73.999369,40.721517,CSH,0.0,10.0

In [4]:
train.describe()

C:\Users\Ambar Gupta\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,tolls_amount,tip_amount,mta_tax,passenger_count,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,surcharge,fare_amount
count,1.658099e+06,1.492903e+06,1.658099e+06,1.658099e+06,1.608290e+06,1.624998e+06,1.658099e+06,1.653112e+06,1.649937e+06,1.558926e+06,1.658099e+06
mean,2.770844e-01,1.554779e+00,4.980460e-01,1.722504e+00,-7.258480e+01,3.998628e+01,1.035918e+00,-7.258127e+01,3.998414e+01,3.177296e-01,1.531551e+01
std,1.890095e+00,2.356677e+00,3.194602e-02,1.384761e+00,1.004539e+01,5.528833e+00,4.683282e-01,1.005460e+01,5.538230e+00,3.623541e-01,1.272185e+01
min,-1.175000e+01,0.000000e+00,-5.000000e-01,0.000000e+00,-9.908311e+01,-1.355188e+01,0.000000e+00,-1.190126e+02,-1.355188e+01,-1.000000e+00,0.000000e+00
25%,0.000000e+00,NaN,5.000000e-01,1.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,8.300000e+00
50%,0.000000e+00,NaN,5.000000e-01,1.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,1.150000e+01
75%,0.000000e+00,NaN,5.000000e-01,2.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,1.700000e+01
max,1.450090e+03,2.312000e+02,5.000000e-01,9.000000e+00,7.945679e+01,6.798689e+01,2.100000e+02,0.000000e+00,6.343189e+01,2.050000e+01,1.502890e+03

In [5]:
train.columns

Index(['TID', 'vendor_id', 'new_user', 'tolls_amount', 'tip_amount', 'mta_tax',
       'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'pickup_longitude', 'pickup_latitude', 'rate_code',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'surcharge', 'fare_amount'],
      dtype='object')

In [6]:
train['new_user'].value_counts()

NO     1657917
YES        163
Name: new_user, dtype: int64

In [7]:
train['store_and_fwd_flag'].value_counts()

N    993926
Y     16051
Name: store_and_fwd_flag, dtype: int64

In [8]:
def convert_datetime(X):
    X['pickup_datetime'] = X['pickup_datetime'].apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
    X['dropoff_datetime'] = X['dropoff_datetime'].apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
    return X

In [9]:
train = convert_datetime(train)

In [10]:
def cal(X):
    df = pd.DataFrame()
    df['diff'] = X['dropoff_datetime'] - X['pickup_datetime']
    df['diff'] = df['diff'].apply(lambda x:divmod(x.days * 86400 + x.seconds, 60))
    df['diff'] = df['diff'].apply(lambda x:x[0]+(x[1]/60))
    return df['diff']

In [11]:
train['total_jrny'] = cal(train)

In [12]:
train.isnull().sum()

TID                        0
vendor_id                  0
new_user                  19
tolls_amount               0
tip_amount            165196
mta_tax                    0
pickup_datetime            0
dropoff_datetime           0
passenger_count            0
pickup_longitude       49809
pickup_latitude        33101
rate_code                  0
store_and_fwd_flag    648122
dropoff_longitude       4987
dropoff_latitude        8162
payment_type               0
surcharge              99173
fare_amount                0
total_jrny                 0
dtype: int64

In [13]:
train.corr()[((train.corr() < -0.85) | (train.corr() > 0.85)) & (train.corr() != 1)]

,tolls_amount,tip_amount,mta_tax,passenger_count,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,surcharge,fare_amount,total_jrny
tolls_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tip_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mta_tax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
passenger_count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pickup_longitude,NaN,NaN,NaN,NaN,NaN,-0.999818,NaN,0.902054,-0.901793,NaN,NaN,NaN
pickup_latitude,NaN,NaN,NaN,NaN,-0.999818,NaN,NaN,-0.902017,0.901948,NaN,NaN,NaN
rate_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dropoff_longitude,NaN,NaN,NaN,NaN,0.902054,-0.902017,NaN,NaN,-0.999824,NaN,NaN,NaN
dropoff_latitude,NaN,NaN,NaN,NaN,-0.901793,0.901948,NaN,-0.999824,NaN,NaN,NaN,NaN
surcharge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fare_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_jrny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Lets Build simple linear Model

In [37]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

In [38]:
lin_model = LinearRegression(normalize=True)

In [39]:
X = train['total_jrny']

In [40]:
X = X.reshape(-1,1)

In [41]:
y = train['fare_amount']

In [42]:
y = y.reshape(-1,1)

In [43]:
lin_model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [44]:
test = pd.read_csv('test.csv')

In [45]:
test = convert_datetime(test)

In [46]:
test['total_jrny'] = cal(test)

In [47]:
test['total_jrny'].head()

0     3.166667
1     4.700000
2    12.683333
3    25.733333
4    18.200000
Name: total_jrny, dtype: float64

In [48]:
test.head()

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge,total_jrny
0,AJX000119871,DST000481,NO,0.0,0.00,0.5,2016-05-14 13:42:33,2016-05-14 13:45:43,1,-73.971794,40.797230,1,Y,-73.972488,40.791576,CSH,0.0,3.166667
1,AJX000119872,DST000543,NO,0.0,1.26,0.5,2016-05-04 01:24:39,2016-05-04 01:29:21,2,-73.992210,40.713123,1,,-73.987244,40.720276,CRD,0.5,4.700000
2,AJX000119873,DST000543,NO,0.0,0.00,0.5,2016-05-28 15:12:21,2016-05-28 15:25:02,6,-73.991753,40.744305,1,N,-73.979828,40.761417,CSH,0.0,12.683333
3,AJX000119874,DST000543,NO,0.0,0.00,0.5,2016-05-02 21:08:40,2016-05-02 21:34:24,4,-73.957588,40.717602,1,N,-73.919868,40.695366,CSH,0.5,25.733333
4,AJX000119875,DST000543,NO,0.0,0.00,0.5,2016-05-09 17:00:33,2016-05-09 17:18:45,1,-73.970985,40.763931,1,N,-73.991409,40.731861,CSH,0.0,18.200000

In [49]:
X_test = test['total_jrny']

In [50]:
X_test = X_test.reshape(-1,1)

In [51]:
pred = lin_model.predict(X_test)

In [52]:
# create submission file
submission = pd.DataFrame(data=[], columns=['TID', 'fare_amount'])
submission.TID = test.TID; submission.fare_amount = pred
submission.to_csv('submission.csv', index=False)
submission.head()

            TID  fare_amount
0  AJX000119871    15.213918
1  AJX000119872    15.228628
2  AJX000119873    15.305217
3  AJX000119874    15.430414
4  AJX000119875    15.358142