In [1]:
import pandas as pd
import numpy as np

In [5]:
ads = pd.read_csv('ads_data.csv')
ads.head()

,ad_id,category_id,seller_id,creation_time,title,description,price,lat,long,source,enabled
0,1344,800,1157,2015-11-29 13:05:26,Blackberry curve,"Funcionando, es para personal el único problem...",300.0,NaN,NaN,android,0
1,3916,815,59,2015-12-16 09:09:25,Remera marca premium alemana,Casi nuevo y sin uso. Lo compre online y me qu...,150.0,NaN,NaN,android,1
2,11738,806,12298,2016-01-19 18:38:24,Juego de sillones estilo campo,Divino juego de sillones de diseño campo,1500.0,NaN,NaN,android,1
3,14939,815,1349,2016-01-30 23:47:30,Zapatillas,Zapatillas nro 39 dos usos,250.0,NaN,NaN,android,0
4,16820,815,16365,2016-02-05 10:22:29,Vestido de seda negro,Vestido importado de usa. Muy fino y elegante ...,500.0,NaN,NaN,android,0

In [3]:
user = pd.read_csv('user_data.csv')
user.head()

,event_time,user_id,event,channel,user_lat,user_long,origin,ad_id,images_count,ad_impressions,ad_views,ad_messages
0,2017-05-19 10:47:22,541,view,ios,-34.600439,-58.514031,browse_search,2426321,6.0,0.0,4.0,0.0
1,2017-06-10 10:18:12,501,view,android,-34.818047,-58.356583,browse_search,2746814,5.0,152.0,85.0,1.0
2,2017-06-11 00:44:57,559,view,android,-34.688454,-58.333435,browse,1123948,4.0,899.0,22.0,1.0
3,2017-05-22 02:36:06,637,first_message,android,-34.548401,-58.485168,search,2273498,NaN,0.0,21.0,2.0
4,2017-06-08 15:45:35,509,view,android,-34.582088,-58.405041,home,2722493,3.0,1529.0,132.0,3.0

In [6]:
message = pd.read_csv('user_messages.csv')
message.head()

   user_id  category_id                                   ads
0        1          859                             [1806476]
1        3          800  [2131700, 2734107, 2877209, 2877209]
2        4          815                             [2883211]
3        7          815           [2429412, 2886810, 2886804]
4        7          362                             [2909301]

In [13]:
len(ads[ads['category_id']==800])

72561

In [27]:
(message['ads'][1])

'[2131700, 2734107, 2877209, 2877209]'

In [39]:
def update(x):
    x = x.replace('[','')
    x= x.replace(']','')
    x = x.split(',')
    temp = []
    for item in x:
        temp.append(int(item))
    return temp

In [40]:
update(message['ads'][1])

[2131700, 2734107, 2877209, 2877209]

In [20]:
type(message['ads'][0])

str

In [41]:
message['ads'] = message['ads'].apply(lambda x:update(x))
message['ads'].head()

0                               [1806476]
1    [2131700, 2734107, 2877209, 2877209]
2                               [2883211]
3             [2429412, 2886810, 2886804]
4                               [2909301]
Name: ads, dtype: object

In [42]:
message['ad_count'] = message['ads'].apply(lambda x:len(x))
message.head()

   user_id  category_id                                   ads  ad_count
0        1          859                             [1806476]         1
1        3          800  [2131700, 2734107, 2877209, 2877209]         4
2        4          815                             [2883211]         1
3        7          815           [2429412, 2886810, 2886804]         3
4        7          362                             [2909301]         1

In [43]:
message['ad_count'].sum()

21153