In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.svm import SVC

In [31]:
train = pd.read_csv('train_data.csv')
train.describe()

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
count,169307.000000,1.693070e+05,1.693070e+05,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,169307.000000,...,169307.000000,169307.000000,169307.0,169307.000000,169307.000000,169307.000000,169307.000000,169307.00000,169307.000000,169307.000000
mean,44.136722,1.077011e+03,7.501477e+02,0.171399,0.171479,0.062442,0.062478,0.791319,0.021317,0.028090,...,0.000077,0.001057,0.0,0.000006,0.000868,330.966203,291.598014,232.98837,189.733508,0.633719
std,659.337783,4.302746e+04,3.527929e+04,0.376214,0.376593,0.241000,0.241354,0.388389,0.084299,0.139745,...,0.009412,0.036762,0.0,0.002430,0.029453,213.028182,246.012392,63.94995,105.631984,0.816991
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,118.000000,10.000000,255.00000,58.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,510.000000,510.000000,255.00000,255.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,511.000000,511.000000,255.00000,255.000000,1.000000
max,42596.000000,1.139690e+07,1.173059e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,5.000000,0.0,1.000000,1.000000,511.000000,511.000000,255.00000,255.000000,2.000000

In [32]:
test = pd.read_csv('test_data.csv')
test.describe()

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
count,91166.000000,9.116600e+04,9.116600e+04,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000,...,91166.000000,91166.000000,91166.000000,91166.0,91166.0,91166.000000,91166.000000,91166.000000,91166.000000,91166.000000
mean,44.499583,1.861971e+03,6.885151e+02,0.169543,0.169616,0.064301,0.064299,0.791855,0.021109,0.027920,...,0.000570,0.000088,0.001020,0.0,0.0,0.001053,331.381217,292.098951,233.063971,189.831714
std,676.749529,2.977819e+05,2.522652e+04,0.374541,0.374968,0.244362,0.244723,0.388186,0.083526,0.139383,...,0.054216,0.009367,0.040685,0.0,0.0,0.032433,212.975581,245.983207,63.960845,105.601719
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,1.000000,1.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,118.000000,10.000000,255.000000,59.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,510.000000,510.000000,255.000000,255.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,511.000000,511.000000,255.000000,255.000000
max,39910.000000,8.958152e+07,7.028652e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,15.000000,1.000000,8.000000,0.0,0.0,1.000000,511.000000,511.000000,255.000000,255.000000

In [33]:
test_id = test['connection_id']

In [34]:
train['target'] = train['target'].replace({2:0})
train['target'].value_counts()

0    135722
1     33585
Name: target, dtype: int64

In [35]:
## function for multi-accuracy
from sklearn.metrics import accuracy_score
def multAcc(pred,y_valid):
    acc = accuracy_score(y_valid, pred)
    return 'maccuracy', acc

## XGB Model

In [48]:
features = ['cont_1','cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_7','cat_9','cat_10','cat_13','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = XGBClassifier(learning_rate =0.10,n_estimators=1000,max_depth=3,min_child_weight=2,gamma=0.1,subsample=0.70,
                          colsample_bytree=0.60,reg_alpha=0.15,objective= 'binary:logistic',nthread=4,seed=27)
model.fit(x_train,y_train)
pred_test_xgb = model.predict(X_valid)
multAcc(pred_test_xgb,y_valid)

('maccuracy', 0.99838560431555534)

## RF Model

In [78]:
from sklearn.model_selection import cross_val_score

In [79]:
model = RandomForestClassifier(n_estimators=1000, max_depth=15,min_samples_split=4,criterion='entropy',
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True)
scores = cross_val_score(rf, train[features],train['target'], cv=5,scoring='neg_log_loss')
scores.mean()

-0.0039260107399764176

In [58]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0

In [40]:
lis = ['cat_20', 'cat_21', 'cat_22','cat_23']

In [53]:
def update(x):
    count = 0
    for i in lis:
        if(x.i=='255'):
            count+=1
    return count

In [64]:
train.loc[0,'cat_20']

511

In [70]:
def update(train,n):
    data = pd.DataFrame()
    for i in lis:
        data[i] = train[i]==n
    data['count_'+str(n)] = data.sum(axis=1)
    return data['count_'+str(n)]
data.head()

   cat_20  cat_21  cat_22  cat_23  count_255
0   False   False    True    True          2
1   False   False    True    True          2
2   False   False    True    True          2
3   False   False    True    True          2
4   False   False    True    True          2

In [71]:
train['count_255'] = update(train,255)

In [72]:
train['count_511'] = update(train,511)

In [73]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target,count_255,count_511
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,511,511,255,255,0,2,2
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,511,511,255,255,0,2,2
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,511,511,255,255,0,2,2
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,511,511,255,255,0,2,2
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,511,511,255,255,0,2,2

In [74]:
train.columns

Index(['connection_id', 'cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
       'cont_6', 'cont_7', 'cont_8', 'cont_9', 'cont_10', 'cont_11', 'cont_12',
       'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
       'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8',
       'cat_9', 'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15',
       'cat_16', 'cat_17', 'cat_18', 'cat_19', 'cat_20', 'cat_21', 'cat_22',
       'cat_23', 'target', 'count_255', 'count_511'],
      dtype='object')

In [76]:
features = ['cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_7','cat_9','cat_10','cat_13','cat_20','cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = RandomForestClassifier(n_estimators=1000, max_depth=15,min_samples_split=4,criterion='entropy',
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True)
model.fit(x_train,y_train)
pred_test_rf = model.predict(X_valid)
multAcc(pred_test_rf,y_valid)

('maccuracy', 0.99850373082905119)

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_valid,pred_test_rf)

array([[39712,    25],
       [11047,     9]])

In [37]:
from random import randint

In [38]:
rf  = RandomForestClassifier(n_estimators=1000, max_depth=15,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True)
rf.fit(train[features],train['target'])

pred = rf.predict(test[features])
index = randint(0,len(pred))
pred[index] = 2

sub = pd.DataFrame()
sub['connection_id'] = test_id
sub['target'] = pred
sub.to_csv('rf.csv', index=False)
print('writting is done.')

writting is done.

## KNN Model

In [9]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = KNeighborsClassifier(n_neighbors=5,weights='uniform',algorithm='auto',n_jobs=-1)
model.fit(x_train,y_train)
pred_test_knn = model.predict(X_valid)
multAcc(pred_test_knn,y_valid)

('maccuracy', 0.99742090445533838)

## LGB Model

In [10]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = LGBMClassifier(learning_rate =0.10,n_estimators=1000,max_depth=3,min_child_weight=2,subsample=0.70,
                       colsample_bytree=0.60,reg_alpha=0.15,n_jobs=4,random_state=2017)
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.99836591656330598)

## Logistic Regression

In [11]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = LogisticRegression(class_weight='balanced',n_jobs=4,max_iter=1000,random_state=2017,C=0.5)
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.98482074301576994)

## Gausian Naive Bayes

In [12]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = GaussianNB()
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.98779359360541807)

## Bernaulli Naive Bayes

In [13]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = BernoulliNB()
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.97430748331463002)

## Decision Tree Model

In [14]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = DecisionTreeClassifier(max_depth=15,min_samples_split=4,random_state=2017)
model.fit(x_train,y_train)
pred_test = model.predict(X_valid)
multAcc(pred_test,y_valid)

('maccuracy', 0.99803122477506745)

Model                Accuracy
XGBoost              0.99842497982005396
Random Forest        0.99844466757230332
Decision Tree        0.99803122477506745
LGB Model            0.99836591656330598
Logistic Regression  0.98482074301576994
Gaussian Naive       0.98779359360541807
Bernaulli Naive      0.97430748331463002
KNN Model            0.99742090445533838

tried uncorrelated model prediction and majority voting

In [21]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)

rf = RandomForestClassifier(n_estimators=1000, max_depth=15,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True)
lr = LogisticRegression(class_weight='balanced',n_jobs=4,max_iter=1000,random_state=2017,C=0.5)
gn = BernoulliNB()

df = pd.DataFrame()

rf.fit(x_train,y_train)
df['pred_rf'] = rf.predict(X_valid)

lr.fit(x_train,y_train)
df['pred_lr'] = lr.predict(X_valid)

gn.fit(x_train,y_train)
df['pred_gn'] = gn.predict(X_valid)

pred_test = df.mode(axis=1)[0]
multAcc(pred_test,y_valid)

('maccuracy', 0.99285334593349472)

In [22]:
df = pd.DataFrame()
df['pred_rf'] = rf.predict(test[features])
df['pred_lr'] = lr.predict(test[features])
df['pred_gn'] = gn.predict(test[features])

pred = df.mode(axis=1)[0]


sub = pd.DataFrame()
sub['connection_id'] = test_id
sub['target'] = pred
sub.to_csv('combine.csv', index=False)
print('writting is done.')

writting is done.

In [23]:
from sklearn.ensemble import ExtraTreesClassifier

In [45]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)
model = ExtraTreesClassifier(n_estimators=500, max_depth=25,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True,bootstrap=True)
model.fit(x_train,y_train)
pred_test_rf = model.predict(X_valid)
multAcc(pred_test_rf,y_valid)

('maccuracy', 0.99507806193766857)

In [44]:
model = ExtraTreesClassifier(n_estimators=500, max_depth=25,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True,bootstrap=True)
model.fit(train[features],train['target'])

print('fiiting is done')

pred = model.predict(test[features])
sub = pd.DataFrame()
sub['connection_id'] = test_id
sub['target'] = pred
sub.to_csv('ext.csv', index=False)
print('writting is done.')

fiiting is done
writting is done.

In [32]:
model

LGBMClassifier(boosting_type='gbdt', colsample_bytree=0.6, learning_rate=0.1,
        max_bin=255, max_depth=3, min_child_samples=10, min_child_weight=2,
        min_split_gain=0.0, n_estimators=1000, n_jobs=4, num_leaves=31,
        objective=None, random_state=2017, reg_alpha=0.15, reg_lambda=0.0,
        silent=True, subsample=0.7, subsample_for_bin=50000,
        subsample_freq=1)

:train of full dataset
xgb = 0.78145
rf  = 0.78147
ext = 0.78136
lgb = 0.78139

5*rf + 3*xgb + 2*lgb + 1*ext

In [46]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']

xgb = XGBClassifier(learning_rate =0.10,n_estimators=1000,max_depth=3,min_child_weight=2,gamma=0.1,subsample=0.70,
                          colsample_bytree=0.60,reg_alpha=0.15,objective= 'binary:logistic',nthread=4,seed=27)
rf  = RandomForestClassifier(n_estimators=1000, max_depth=15,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True)
lgb = LGBMClassifier(learning_rate =0.10,n_estimators=1000,max_depth=3,min_child_weight=2,subsample=0.70,
                       colsample_bytree=0.60,reg_alpha=0.15,n_jobs=4,random_state=2017)
ext = ExtraTreesClassifier(n_estimators=500, max_depth=25,min_samples_split=4,
                               min_samples_leaf=1,n_jobs=-1,random_state=2017,oob_score=True,bootstrap=True)
print('models defined')

xgb.fit(train[features],train['target'])
print('xgb fiiting done')

rf.fit(train[features],train['target'])
print('rf fiiting done')

lgb.fit(train[features],train['target'])
print('lgb fiiting done')

ext.fit(train[features],train['target'])
print('ext fiiting done')

df = pd.DataFrame()

df['pred_xgb'] = xgb.predict(test[features])
df['pred_rf'] = rf.predict(test[features])
df['pred_lgb'] = lgb.predict(test[features])
df['pred_ext'] = ext.predict(test[features])

print('prediction done')

df['count_1'] = 3*df['pred_xgb'] + 5*df['pred_rf'] + 2*df['pred_lgb'] + 1*df['pred_ext']
df.head()

models defined
xgb fiiting done
rf fiiting done
lgb fiiting done
ext fiiting done
prediction done

   pred_xgb  pred_rf  pred_lgb  pred_ext  count_1
0         1        1         1         1       11
1         0        0         0         0        0
2         0        0         0         0        0
3         0        0         0         0        0
4         0        0         0         0        0

In [63]:
df['count_1'] = 3*df['pred_xgb'] + 5*df['pred_rf'] + 2*df['pred_lgb'] + 1*df['pred_ext']
df['count_1'].value_counts()

0     72949
11    18117
1        48
6        21
9        15
5         9
10        4
8         2
2         1
Name: count_1, dtype: int64

In [58]:
df['class'] = df['count_1'].apply(lambda x: int(x>=6))

In [59]:
df.head()

   pred_xgb  pred_rf  pred_lgb  pred_ext  count_1  class
0         1        1         1         1       11      1
1         0        0         0         0        0      0
2         0        0         0         0        0      0
3         0        0         0         0        0      0
4         0        0         0         0        0      0

In [60]:
sub = pd.DataFrame()
sub['connection_id'] = test_id
sub['target'] = df['class']
sub.to_csv('weighted.csv', index=False)
print('writting is done.')
#0.78147

writting is done.

In [7]:
features = ['cont_1', 'cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_9','cat_20', 'cat_21', 'cat_22','cat_23']
X_train = train[features]
target = train['target']
x_train, X_valid, y_train, y_valid = train_test_split(X_train, target, train_size = 0.7, stratify = target, random_state = 2017)

In [8]:
from sklearn.cross_validation import KFold

/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
features = ['cont_1','cont_2', 'cont_3', 'cont_4', 'cont_5',
            'cont_6', 'cont_7','cont_8','cont_9', 'cont_10','cont_11','cont_12',
            'cont_13', 'cont_14', 'cont_15', 'cont_16', 'cont_17', 'cont_18',
            'cat_1', 'cat_2','cat_3','cat_7','cat_9','cat_10','cat_13','cat_20', 'cat_21', 'cat_22','cat_23']

In [10]:
# Some useful parameters which will come in handy later on
ntrain = train.shape[0]
ntest = test.shape[0]
SEED = 0 # for reproducibility
NFOLDS = 5 # set folds for out-of-fold prediction
kf = KFold(ntrain, n_folds= NFOLDS, random_state=SEED)

# Class to extend the Sklearn classifier
class SklearnHelper(object):
    def __init__(self, clf, seed=0, params=None):
        params['random_state'] = seed
        self.clf = clf(**params)

    def train(self, x_train, y_train):
        self.clf.fit(x_train, y_train)

    def predict(self, x):
        return self.clf.predict(x)
    
    def fit(self,x,y):
        return self.clf.fit(x,y)
    
    def feature_importances(self,x,y):
        print(self.clf.fit(x,y).feature_importances_)
    
# Class to extend XGboost classifer

In [11]:
def get_oof(clf, x_train, y_train, x_test):
    oof_train = np.zeros((ntrain,))
    oof_test = np.zeros((ntest,))
    oof_test_skf = np.empty((NFOLDS, ntest))

    for i, (train_index, test_index) in enumerate(kf):
        x_tr = x_train[train_index]
        y_tr = y_train[train_index]
        x_te = x_train[test_index]

        clf.train(x_tr, y_tr)

        oof_train[test_index] = clf.predict(x_te)
        oof_test_skf[i, :] = clf.predict(x_test)

    oof_test[:] = oof_test_skf.mean(axis=0)
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [12]:
# Put in our parameters for said classifiers
# Random Forest parameters
rf_params = {
    'n_jobs': -1,
    'n_estimators': 500,
     'warm_start': True, 
     #'max_features': 0.2,
    'max_depth': 6,
    'min_samples_leaf': 2,
    'max_features' : 'sqrt',
    'verbose': 0
}

# Extra Trees Parameters
et_params = {
    'n_jobs': -1,
    'n_estimators':500,
    #'max_features': 0.5,
    'max_depth': 8,
    'min_samples_leaf': 2,
    'verbose': 0
}

# AdaBoost parameters
ada_params = {
    'n_estimators': 500,
    'learning_rate' : 0.75
}

# Gradient Boosting parameters
gb_params = {
    'n_estimators': 500,
     #'max_features': 0.2,
    'max_depth': 5,
    'min_samples_leaf': 2,
    'verbose': 0
}

In [13]:
# Create 5 objects that represent our 4 models
rf = SklearnHelper(clf=RandomForestClassifier, seed=SEED, params=rf_params)
print('rf done')
et = SklearnHelper(clf=ExtraTreesClassifier, seed=SEED, params=et_params)
print('et done')
ada = SklearnHelper(clf=AdaBoostClassifier, seed=SEED, params=ada_params)
print('ada done')
gb = SklearnHelper(clf=GradientBoostingClassifier, seed=SEED, params=gb_params)
print('gb done')

rf done
et done
ada done
gb done

In [14]:
# Create Numpy arrays of train, test and target ( Survived) dataframes to feed into our models
y_train = train['target'].ravel()
train = train.drop(['target'], axis=1)
x_train = train[features].values # Creates an array of the train data
x_test = test[features].values # Creats an array of the test data

In [15]:
# Create our OOF train and test predictions. These base results will be used as new features
et_oof_train, et_oof_test = get_oof(et, x_train, y_train, x_test) # Extra Trees
print('et done')
rf_oof_train, rf_oof_test = get_oof(rf,x_train, y_train, x_test) # Random Forest
print('rf done')
ada_oof_train, ada_oof_test = get_oof(ada, x_train, y_train, x_test) # AdaBoost 
print('ada done')
gb_oof_train, gb_oof_test = get_oof(gb,x_train, y_train, x_test) # Gradient Boost
print('gb done')
print("Training is complete")

et done

/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:303: UserWarning: Warm-start fitting without increasing n_estimators does not fit new trees.
  warn("Warm-start fitting without increasing n_estimators does not "

rf done
ada done
gb done
Training is complete

In [16]:
rf_feature = rf.feature_importances(x_train,y_train)
et_feature = et.feature_importances(x_train, y_train)
ada_feature = ada.feature_importances(x_train, y_train)
gb_feature = gb.feature_importances(x_train,y_train)

[  5.26205300e-03   4.08984942e-02   1.68063877e-01   5.40751556e-03
   2.73360777e-03   1.25496207e-03   8.77502905e-04   2.24443702e-02
   2.42878948e-02   1.26914939e-02   1.97540425e-02   9.45234464e-03
   1.98123027e-02   5.08166424e-02   2.79973340e-03   4.88903268e-03
   3.15036313e-03   2.39308205e-03   3.81610713e-02   1.18549111e-01
   2.39829234e-02   7.46837229e-04   6.47404095e-02   1.02278721e-03
   5.65460170e-06   2.52899280e-01   3.97744921e-02   4.87876966e-02
   1.43404223e-02]

/anaconda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:303: UserWarning: Warm-start fitting without increasing n_estimators does not fit new trees.
  warn("Warm-start fitting without increasing n_estimators does not "

[  9.29008978e-04   4.30370109e-03   2.80712831e-03   1.71913657e-02
   2.10777915e-02   7.37767987e-03   1.18410101e-02   5.83253585e-02
   4.83581749e-03   1.14111196e-02   4.92099926e-02   5.85264506e-03
   6.45194262e-02   8.01272313e-03   1.50496677e-02   2.21994387e-02
   9.81278342e-03   1.06700823e-02   7.26432793e-02   3.89585753e-02
   3.44664579e-02   3.17036199e-04   1.86934894e-01   3.30122603e-04
   8.35802505e-06   1.52583159e-01   8.68780095e-02   6.74896702e-02
   3.39636975e-02]
[ 0.034  0.248  0.084  0.     0.006  0.     0.     0.02   0.03   0.008
  0.04   0.048  0.052  0.02   0.006  0.004  0.03   0.     0.01   0.118
  0.012  0.056  0.     0.008  0.002  0.026  0.014  0.05   0.074]
[ 0.03162751  0.10245557  0.10489069  0.00043378  0.00021882  0.00138297
  0.00025808  0.00681752  0.02288258  0.00115564  0.03885864  0.03783797
  0.08951629  0.00932868  0.0236037   0.0026029   0.01969116  0.00997595
  0.03676135  0.08375048  0.00446483  0.00635932  0.0093902   0.00454237
  0.00231331  0.10942327  0.04513022  0.02931711  0.16500909]

In [17]:
base_predictions_train = pd.DataFrame( {'RandomForest': rf_oof_train.ravel(),
     'ExtraTrees': et_oof_train.ravel(),
     'AdaBoost': ada_oof_train.ravel(),
      'GradientBoost': gb_oof_train.ravel()
    })
base_predictions_train.head()

   AdaBoost  ExtraTrees  GradientBoost  RandomForest
0       0.0         0.0            0.0           0.0
1       0.0         0.0            0.0           0.0
2       0.0         0.0            0.0           0.0
3       0.0         0.0            0.0           0.0
4       0.0         0.0            0.0           0.0

In [18]:
x_train = np.concatenate(( et_oof_train, rf_oof_train, ada_oof_train, gb_oof_train), axis=1)
x_test = np.concatenate(( et_oof_test, rf_oof_test, ada_oof_test, gb_oof_test), axis=1)

In [19]:
gbm = XGBClassifier(
 learning_rate = 0.1,
 n_estimators= 1000,
 max_depth= 3,
 min_child_weight= 2,
 #gamma=1,
 gamma=0.9,                        
 subsample=0.7,
 colsample_bytree=0.6,
 objective= 'binary:logistic',
 nthread= -1,
 scale_pos_weight=1).fit(x_train, y_train)
predictions = gbm.predict(x_test)

In [20]:
sub = pd.DataFrame()
sub['connection_id'] = test_id
sub['target'] = predictions
sub.to_csv('stacked.csv', index=False)
print('writting is done.')

writting is done.