In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-6.3.0-posix-seh-rt_v5-rev1\\mingw64\\bin'
os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']

In [3]:
from xgboost.sklearn import XGBClassifier

In [4]:
from sklearn import cross_validation,metrics
from sklearn.grid_search import GridSearchCV

In [5]:
train = pd.read_csv('train_updated.csv')
train.head()

,day__0,day__1,day__2,day__3,day__4,day__5,day__6,day__7,hour__0,hour__1,...,title_count,genres_count,cities_count,tod_count,dow_count,segment,genres_sum,cities_sum,tod_time,dow_time
0,0,1,1,1,1,1,1,1,0,0,...,60,3,2,14,7,0,1456.416667,1456.433333,1456.283333,1456.266667
1,0,1,1,1,1,1,1,1,0,1,...,70,2,3,16,7,0,272.833333,272.850000,272.683333,272.733333
2,0,0,0,1,0,0,0,0,1,1,...,2,2,1,3,1,0,69.033333,69.033333,69.033333,0.050023
3,0,1,0,1,1,1,0,1,0,0,...,8,2,3,6,5,0,139.133333,139.133333,139.133333,139.133333
4,0,1,1,0,1,0,1,1,1,0,...,11,3,2,9,5,0,168.850000,168.866667,168.816667,168.816667

In [6]:
train.columns

Index(['day__0', 'day__1', 'day__2', 'day__3', 'day__4', 'day__5', 'day__6',
       'day__7', 'hour__0', 'hour__1', 'hour__10', 'hour__11', 'hour__12',
       'hour__13', 'hour__14', 'hour__15', 'hour__16', 'hour__17', 'hour__18',
       'hour__19', 'hour__2', 'hour__20', 'hour__21', 'hour__22', 'hour__23',
       'hour__3', 'hour__4', 'hour__5', 'hour__6', 'hour__7', 'hour__8',
       'hour__9', 'genre__Action', 'genre__Athletics', 'genre__Awards',
       'genre__Badminton', 'genre__Boxing', 'genre__Comedy', 'genre__Cricket',
       'genre__Crime', 'genre__Documentary', 'genre__Drama', 'genre__Family',
       'genre__Football', 'genre__Formula1', 'genre__FormulaE',
       'genre__Hockey', 'genre__Horror', 'genre__IndiaVsSa', 'genre__Kabaddi',
       'genre__Kids', 'genre__LiveTV', 'genre__Mythology', 'genre__NA',
       'genre__Reality', 'genre__Romance', 'genre__Science', 'genre__Sport',
       'genre__Swimming', 'genre__Table Tennis', 'genre__TalkShow',
       'genre__Teen', 'genre__Tennis', 'genre__Thriller', 'genre__Travel',
       'genre__Volleyball', 'genre__Wildlife', 'title_sum', 'title_count',
       'genres_count', 'cities_count', 'tod_count', 'dow_count', 'segment',
       'genres_sum', 'cities_sum', 'tod_time', 'dow_time'],
      dtype='object')

In [7]:
features = ['day__0', 'day__1', 'day__2', 'day__3', 'day__4', 'day__5', 'day__6',
           'day__7', 'hour__0', 'hour__1', 'hour__10', 'hour__11', 'hour__12',
           'hour__13', 'hour__14', 'hour__15', 'hour__16', 'hour__17', 'hour__18',
           'hour__19', 'hour__2', 'hour__20', 'hour__21', 'hour__22', 'hour__23',
           'hour__3', 'hour__4', 'hour__5', 'hour__6', 'hour__7', 'hour__8',
           'hour__9', 'genre__Action', 'genre__Athletics', 'genre__Awards',
           'genre__Badminton', 'genre__Boxing', 'genre__Comedy', 'genre__Cricket',
           'genre__Crime', 'genre__Documentary', 'genre__Drama', 'genre__Family',
           'genre__Football', 'genre__Formula1', 'genre__FormulaE',
           'genre__Hockey', 'genre__Horror', 'genre__IndiaVsSa', 'genre__Kabaddi',
           'genre__Kids', 'genre__LiveTV', 'genre__Mythology', 'genre__NA',
           'genre__Reality', 'genre__Romance', 'genre__Science', 'genre__Sport',
           'genre__Swimming', 'genre__Table Tennis', 'genre__TalkShow',
           'genre__Teen', 'genre__Tennis', 'genre__Thriller', 'genre__Travel',
           'genre__Volleyball', 'genre__Wildlife', 'title_sum', 'title_count',
           'genres_count', 'cities_count', 'tod_count', 'dow_count']

In [8]:
X = train[features]
y = train['segment']

In [9]:
param_test = {
 'max_depth':[3,5,7,9],
 'min_child_weight':[1,3,5]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=5,
                                   min_child_weight=1, gamma=0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'max_depth': 5, 'min_child_weight': 3}, 0.92374500000000004)

In [10]:
param_test = {
 'max_depth':[4,5,6],
 'min_child_weight':[2,3,4]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=5,
                                   min_child_weight=1, gamma=0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017,scoring='roc_auc'), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'max_depth': 4, 'min_child_weight': 3}, 0.92374500000000004)

In [13]:
param_test = {
 'min_child_weight':[10,11,12,13,14,15]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=5,
                                   min_child_weight=1, gamma=0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017,scoring='roc_auc'), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5)
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'min_child_weight': 12}, 0.92376000000000003)

In [9]:
param_test = {
 'gamma':[i/100.0 for i in range(0,9)]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=4,
                                   min_child_weight=3, gamma=0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'gamma': 0.0}, 0.80477424750135496)

In [10]:
param_test = {
 'subsample':[i/10.0 for i in range(6,10)],
 'colsample_bytree':[i/10.0 for i in range(6,10)]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=4,
                                   min_child_weight=3, gamma=0.0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'colsample_bytree': 0.6, 'subsample': 0.8}, 0.80497613801457391)

In [11]:
param_test = {
 'subsample':[0.75,0.80,0.85],
 'colsample_bytree':[0.55,0.60,0.65]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=4,
                                   min_child_weight=3, gamma=0.0, subsample=0.8, colsample_bytree=0.8,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'colsample_bytree': 0.6, 'subsample': 0.75}, 0.80505711279250591)

In [12]:
param_test = {
 'reg_alpha':[1e-5, 1e-2, 0.1, 1, 100]
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=4,
                                   min_child_weight=3, gamma=0.0, subsample=0.75, colsample_bytree=0.6,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'reg_alpha': 1e-05}, 0.80505711190544171)

In [11]:
param_test = {
 'learning_rate':[0.1,0.01,0.005],
 'n_estimators':[100,500,1000,2000]  
}
gsearch = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, n_estimators=100, max_depth=5,
                                   min_child_weight=12, gamma=0.0, subsample=0.75, colsample_bytree=0.6,
                                   objective= 'binary:logistic', nthread=4, seed=2017), 
                       param_grid = param_test,n_jobs=4,iid=False, cv=5,scoring='roc_auc')
gsearch.fit(X,y)
gsearch.best_params_, gsearch.best_score_

({'learning_rate': 0.01, 'n_estimators': 2000}, 0.80684465115171677)

In [16]:
X['title_sum'] = X['title_sum']/60
test['title_sum'] = test['title_sum']/60

D:\anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
xgb = XGBClassifier(learning_rate =0.01, n_estimators=1000, max_depth=4,
                    min_child_weight=3, gamma=0.00, subsample=0.75, colsample_bytree=0.6,
                    objective= 'binary:logistic', nthread=4, seed=2017)

In [18]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.6, gamma=0.0, learning_rate=0.01,
       max_delta_step=0, max_depth=4, min_child_weight=3, missing=None,
       n_estimators=1000, nthread=4, objective='binary:logistic',
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=2017,
       silent=True, subsample=0.75)

In [15]:
test = pd.read_csv('test_updated.csv')
test.head()

,day__0,day__1,day__2,day__3,day__4,day__5,day__6,day__7,hour__0,hour__1,...,title_sum,title_count,genres_count,cities_count,tod_count,dow_count,genres_sum,cities_sum,tod_time,dow_time
0,0,0,1,0,1,0,0,0,0,0,...,880,8,2,2,2,2,14.733333,14.733333,14.716667,14.716667
1,0,1,1,1,1,1,0,1,1,1,...,23848,10,3,3,8,6,397.516667,397.533333,397.466667,397.483333
2,0,1,1,0,1,0,1,1,1,0,...,13873,2,2,3,11,5,231.216667,231.216667,231.216667,231.216667
3,0,1,0,1,0,0,0,1,0,0,...,6735,4,2,3,6,3,112.250000,112.266667,112.233333,112.233333
4,1,0,0,0,0,0,0,0,0,1,...,1204,1,1,1,1,1,20.066667,20.066667,0.027130,0.014630

In [19]:
pred = xgb.predict_proba(test[features])

In [20]:
test_id = pd.read_csv('test.csv')
test_id = test_id['ID']
test_id.head()

0        test-1
1       test-10
2      test-100
3     test-1000
4    test-10000
Name: ID, dtype: object

In [21]:
submission = pd.DataFrame(data=pred[:,1],index=test_id,columns=['segment'])
submission.head()

             segment
ID
test-1      0.022391
test-10     0.078126
test-100    0.231104
test-1000   0.158944
test-10000  0.128406

In [22]:
submission.to_csv('xgb.csv')